.main{
    display: flex;
    padding: 3px;
    height: 90%;
  
    flex-flow: row;
    margin-top: 3%;
    justify-content: center;
   
}


@media( min-width: 414px){
    .top-nav div{
       padding: 10px;
       
    }
}

@media( max-width: 414px){
    .modal .brief-requests a{
      margin-left: 0;
    
    }
}

li a, li, div{
    
    
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     
    
}
.top-nav a{
    font-size: 1.2em;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}

.top-nav div{
    border: solid 0 white;
    border-right-width: 2px;
    padding-right: 10px;
    margin-left: 20px;
    
   
}

.top-nav div:last-of-type{
    border-right-width: 0;
}
h3{
    color:white;
}
.requests{
   
    width: 70%;

}



.selected{
   font-size: 1.3em;
   font-weight: bold;
}


.requests div li{
    margin-top: 15px;
    color: white;
    
    text-align: left;
    background-color: rgba(253, 252, 252, 0.116);
    color: rgb(255, 242, 242);
    list-style: none;
    padding: 14px;
    font-size: 25px;
    font-family: 'Shadows Into Light', serif;
    border-radius: 10px;


}

.filter-group input[type=search], select, input[type=date]{
    background-color: rgba(253, 252, 252, 0.116);
    color:white;
    border: 0;
    padding: 5px;
    margin-left: 3px;
    text-align-last: center;
    height: 100%;
    width: 10%;
    font-size:18px;
    
}

input::-webkit-calendar-picker-indicator{
    color: white;
    background-color: inherit;
}

@media(max-width: 500px){
    .filter-group span{
        display: block;
        margin-left: 0;
    }
}
.filter-group input[type=date]::-webkit-inner-spin-button{
    display: none;
    width: auto;
}
.filter-group input[type=search]{
    width: 20%;
    text-align: left;
    background-image: url(../images/lens.svg) ;
    background-position: 4px center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 4px;
}

.filter-group input[type=search]:focus {
    background-image: none;
}
select option{
    background-color: rgba(54, 54, 54, 0.959);
    color:white;
    border: 0;
   
}

.filter-group {
    font-size: 20px;
}
.requests div .brief-requests li{
    margin-left: 20%;
    width: 60%;
    font-family:  Helvetica, sans-serif;
}

.modal-content .brief-requests li{
    font-size: 16px;
    font-family:  Helvetica, sans-serif;

}
h1,h2,h3,h4{
    color: white;
}

.brief-requests .controls{
    background-color: inherit;
    text-align: center;
    border: none;

}

.modal .statistics{
    top: 3%;
}

.manage-header{
    text-transform: uppercase;
}
.requests .request-details  li:hover{
    background-color: inherit;
   
  
}
.requests .request-details li {
    text-align: center;
    background-color: inherit;
}
.manage-request .requests .request-details li{
   align-self: flex-start;
   text-align: left;
} 

.manage-request .request-details li{
    background-color: rgba(253, 252, 252, 0.199);
    color: rgb(255, 242, 242);
    font-weight: bold;
}
.manage-request .controls li, .manage-request .controls li:hover{
    background-color: inherit;
    text-align: center;
}
.manage-request .request-details  li span{
    font-weight: lighter    ;

}

p{
    color: white;
    font-size: 27px;
}
input[type =text], textarea{
    background-color: rgba(245, 240, 240, 0.253);
    color: rgba(248, 242, 242, 0.979);
    font-size: 20px;
}
.manage-request .controls {
    align-self:center;
    justify-self: center;
    border: solid 0 black;
    border-left-width: 1px;
 }



.danger, .brief-requests .disapproved{
    background-color: rgb(240, 89, 80);
}

.danger:hover, .brief-requests .disapproved:hover{
    background-color: rgb(250, 29, 80);
}
.okay{
    background-color: rgb( 79,152, 43);
}
 
.brief-requests li {
    position: relative;
}

.green-btn, .brief-requests a{
    background-color:rgb(54, 161, 4);
}


.brief-requests a {
    margin-right: 3px;
    
    color: white;
    padding: 2px 4px;

    border-radius: 10%;
    font-size: 0.7em;
}


@media(min-width:500px){
    .brief-requests span{
        position: absolute;
        left: 75%;
    }
}

.controls span{
    position: static;
}
.brief-requests .pending{
    background-color: rgb(240, 86,  0);
}
.brief-requests .pending:hover{
    background-color: rgb(208, 78,  5) ;
}
.brief-requests a:hover, .green-btn:hover{
    background-color:rgb(42, 129, 1);
}

.modal .brief-requests a{
    font-size: inherit;
   text-transform: capitalize;
   margin-left: 10%;
   

}
.brief-requests .resolved{
    background-color:rgba(81, 255, 1, 0.712);
  
}
.brief-requests .resolved:hover{
    background-color:rgba(72, 216, 6, 0.712);
}
.brief-requests .approved{
    background-color:rgb(252, 128, 13);
}
.brief-requests .approved:hover{
    background-color:rgb(255, 157, 65);
}

.controls span{
    transition: opacity 400ms ease-in;
}
img{
    width: 200px;
    height: 200px;
    margin-left: 1%;
    
}

.prevDetails{
    position: fixed;
    top: 40%;
    left: 40%;
    font-family: sans-serif;
    
}
.create-fields{
    margin:0;

}

.create-fields li{
    margin:0;
    margin-bottom: 10px;
}

.create-fields h4{
    transition: opacity 400ms ease-in;
    opacity: 0;
}
.create-fields li input, .create-fields li textarea, .create-fields li label{
    margin:0;
    width: 50%;
    padding: 8px;
    border-radius: 6px;
    border: solid 1px rgba(0, 0, 0, 0.212);
    
}
input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.create-fields li label{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    font-family:  Courier, monospace;
    margin-bottom: 10px;
    color:white;
    font-weight: bold;

}




html, body{
    

    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)
      ),
      url('../images/background.jpg');
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    background-origin: border-box, border-box;
    background-color: rgba(0, 0, 0, 0.185)  ;

}

:-moz-placeholder, ::-webkit-input-placeholder, 
:-ms-input-placeholder, ::-webkit-input-placeholder, 
::-moz-placeholder{
    color:white;
}


.badData:-moz-placeholder, .badData::-webkit-input-placeholder, 
.badData::-ms-input-placeholder, .badData::-webkit-input-placeholder, 
.badData::-moz-placeholder{
    color:red;
}

.badData{
    background-color: rgba(241, 70, 70, 0.116);
}


.create-fields h4{
    font-size: 18px;
    padding: 4px;
    color: rgb(252, 217, 197);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: scroll; 
    background-color: rgba(10, 9, 9, 0.959); /* Black w/ opacity */
    
}

.modal-content {
    background-color: #fefefe13;
    margin-left: 15%;
    padding: 20px;
    font-family:  Helvetica, sans-serif;
    width: 80%; 
    min-height: 90%;
}

.close {
    color: rgb(250, 29, 80);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgba(209, 3, 51, 0.89);
    text-decoration: none;
    cursor: pointer;
}