

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.engineer{
    background-position: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.9), 
        rgba(0, 0, 0, 0.9)
      ),
      url('../images/engineer-login.jpg');
     
}

.engineer .signup-link-li{
    display: none;
}
.main-flex{
    display: flex;

}

.signup-group{
  
    padding: 3px 0;
}

.signup-group, .reset-group, .signin-group {
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}

.signup-group, .reset-group, .signin-group{
   display: none;
}

.signup .signup-group, .reset .reset-group, .signin .signin-group{
    display: flex;
}

.box{
    
    margin-bottom: 10px;
    align-self: center;
}


.box-8{
    flex: 8;
}

button{
  font-size: 18px;
  

}

.links  li{
    text-align:  left;
    list-style-type: none;
    font-size: 18px;
    font-family: 'Port Lligat Slab', serif;
    margin: 0;
    margin-top: 3px;
    font-size: calc(1.5em - 5px);
  
}

.links  li a {
    font-size: calc(1.5em - 3px);
    color: rgb(248, 155, 101);
}

.links li a:hover {
    text-decoration: underline;
}
ul{
    margin-left: 0;
    padding: 0;
}
input{
    height: 200%;
    width: 120%;
    margin-left: -10%;
    flex-basis: 100%;
    font-size: 1.4em;
    padding: 10px;
    border-radius: 7px;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}

input[data-name]{
    display: fixed;
}